h3 {
    text-align: center;
}

.item {
    border-radius: 30px;
    padding: 5px 10px;
    margin: 10px 0px 10px 0px;
    
    p {
        margin-bottom: 0px;
    }

    button {
        margin: 0 auto;
        display: block;
        margin-bottom: 0px !important;
    }

    input[type="checkbox"] {
        margin-right: 10px;
    }
}

.vertical-center {
    display: flex;
    align-items: center;
}

.del-icon {
    background-color: unset;
    border: none;
    font-size: 20px;
    color: #555555;
}